__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/

.uv/
.uv_cache/
.uv-venv/

venv/
.env/
.virtualenv/

*.log
*.out
*.pid
*.swp
*.swo
*.DS_Store

.vscode/
.idea/
*.iml

.ipynb_checkpoints/

htmlcov/
.coverage
.cache/
.nox/
tox/
pytest_cache/

.mypy_cache/

.pyright/

.black/

instance/
*.sqlite3
db.sqlite3
media/
uploads/

